html {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
}

.main-div {
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.typographic-logo {
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: min(130px, 15vw)
}

.main-div h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: min(36px, 4vw)
}

.main-div h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: min(24px, 3vw);
  text-align: center;
}